# ---- Maven
target/
dependency-reduced-pom.xml

# ---- Gradle
build/
.gradle

# ---- IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/
.run/

# ---- Eclipse
.classpath
.project
.settings

# --- VSCode
.factorypath
.vscode/

# ---- Sonar Scanners
.scannerwork
.sonar

# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db 
# Folder config file
Desktop.ini

# ---- RSPEC
*rule-api*

# In case of manual Go compilation
sonar-helm-for-iac/sonar-helm-for-iac
**/sonar-helm-for-iac.exe
**/sonar-helm-for-iac-*

#Docker cache
sonar-helm-for-iac/.cache/*
